.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.lists{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 35px;
  gap: 70px;

}

.lists>*{
  width: 25%;
}